.empty{clear:both}body{background-color:#f2f2f2;
text-align:center;margin:0}
a{color:#5f9281;text-decoration:none}
a:hover{color:#002f32;text-decoration:none}
a:visited{text-decoration:none;color:#5f9281}
#main{position:relative;top:0;left:0;margin:0 auto;width:960px;text-align:left;
font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:14px}
header{top:0;position:relative;height:80px;z-index:1}
#logo img{position:relative;top:50px;float:left;margin-left:10px;
margin-right:10px}
.top_button{position:relative;top:50px;height:25px;width:120px;float:right;
background-color:#ebebeb;text-align:center;border-radius:6px;border-style:solid;
border-width:1px;border-color:#002f32;padding-top:7px;margin-left:5px;margin-right:5px;
box-shadow:4px 4px 10px #666}.top_button a{color:#002f32}
.top_button a:hover{color:#fff}
.form_error{visibility: visible;}
#menubar_top{position:relative;padding-left:20px;padding-right:20px;width:700px;left:250px;
height:50px;top:-15px;background-image:url("/static/img/menu_bg.png");
border-radius:12px;box-shadow:4px 4px 10px #666}
.menu_item_top{float:left;width:110px;padding-top:15px;text-align:center}
#content{position:relative;left:250px;width:700px}
#menubar_bottom{position:relative;padding-left:50px;padding-right:25px;
margin-top:50px;width:940px;height:50px;background-image:url("/static/img/menu_bg.png");
border-radius:12px;box-shadow:4px 4px 10px #666}
footer{float:right;font-size:85%;margin-bottom:20px}
.menu_item_bottom{float:left;width:130px;padding-top:15px;text-align:center}
.form_error{display:none;visibility:hidden}
