{% extends "base.html" %}

{% block title_suffix %} Dodaj aukcje {% endblock %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/auction_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/auction_add.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div id="auction_form_wrapper" style="margin-top: 50px">
	<div id="list_title">Wystaw aukcje</div>
	<div id="form_list">
  <form id='auction_form' name='auction_form' method='post' accept-charset="utf-8" enctype="multipart/form-data">
    {% csrf_token %}
    <div class='auction_form_field'>
    <span><label class='id_username'>Tytuł:</label></span>
      <span class='id_username'>{{ form.name.errors }}</span>
      
      {{ form.name }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.categories.errors }}</span>
      <label class='id_username'>Kategorie:</label>
      {{ form.categories }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.description.errors }}</span>
      <label class='id_username' valign="middle">Opis:</label>
      {{ form.description }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.thumb.errors }}</span>
      <label class='id_username'>Obrazek:</label>
      {{ form.thumb }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.image.errors }}</span>
      <label class='id_username'>Zdjęcie:</label>
      {{ form.image }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.start_date.errors }}</span>
      <label class='id_username'>Data rozpoczęcia:</label>
      {{ form.start_date }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.planned_close_date.errors }}</span>
      <label class='id_username'>Data zakończenia:</label>
      {{ form.planned_close_date }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.start_price.errors }}</span>
      <label class='id_username'>Cena początkowa:</label>
      {{ form.start_price }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.reserve_price.errors }}</span>
      <label class='id_username'>Cena minimalna:</label>
      {{ form.reserve_price }}
    </div>
    <p class='auction_form_field'>
       <input value='Dodaj' id='add' type='submit'/>
       <p id='form_submit_info'>{{ form.info }}</p>
    </p>
  </form>
  </div>
</div>
{% endblock %}
