{% extends "base.html" %}

{% block title_suffix %} Dodaj aukcje {% endblock %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/auction_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/auction_add.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div id="auction_form_wrapper" style="margin-top: 50px">
  <form id='auction_form' name='auction_form' method='post' accept-charset="utf-8" enctype="multipart/form-data">
    {% csrf_token %}
    <div class='auction_form_field'>
      <span class='form_error'>{{ form.name.errors }}</span>
      <label for='id_username'>Tytuł:</label>
      {{ form.name }}
    </div>
    <div class='auction_form_field'>
      <span class='form_error'>{{ form.categories.errors }}</span>
      <label for='id_first_name'>Kategorie:</label>
      {{ form.categories }}
    </div>
    <div class='auction_form_field'>
      <span class='form_error'>{{ form.description.errors }}</span>
      <label for='id_last_name'>Opis:</label>
      {{ form.description }}
    </div>
    <div class='auction_form_field'>
      <span class='form_error'>{{ form.thumb.errors }}</span>
      <label for='id_email'>Obrazek:</label>
      {{ form.thumb }}
    </div>
    <div class='auction_form_field'>
      <span class='form_error'>{{ form.image.errors }}</span>
      <label for='id_password'>Zdjęcie:</label>
      {{ form.image }}
    </div>
    <div class='auction_form_field'>
      <span class='form_error'>{{ form.start_date.errors }}</span>
      <label for='id_organisation'>Data rozpoczęcia:</label>
      {{ form.start_date }}
    </div>
    <div class='auction_form_field'>
      <span class='form_error'>{{ form.planned_close_date.errors }}</span>
      <label for='id_address'>Data zakończenia:</label>
      {{ form.planned_close_date }}
    </div>
    <div class='auction_form_field'>
      <span class='form_error'>{{ form.start_price.errors }}</span>
      <label for='id_tax_id'>Cena początkowa:</label>
      {{ form.start_price }}
    </div>
    <div class='auction_form_field'>
      <span class='form_error'>{{ form.reserve_price.errors }}</span>
      <label for='id_tax_id'>Cena minimalna:</label>
      {{ form.reserve_price }}
    </div>
    <p id='form_input_wrapper'>
       <input value='Dodaj' id='add' type='submit'/>
       <p id='form_submit_info'>{{ form.info }}</p>
    </p>
  </form>
</div>
{% endblock %}
