{% extends "auction_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/auctionitem_detail.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/auction_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/eshop_compare.css" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}
<section id='auction_item_page'>
  <div id='auction_title'>
   {{ item.base.name }}
  </div>
  <div id='gallery'style="position: relative;width: 300px;height: 258px;float:left;">
  <div id='auction_main_image'>
   <!-- nie możemy nic wpisywać 'na sztywno' - wszystkie dane są pobierana z przesłanego obiektu -->
   <img id='main_image' style="width: 300px; max-height: 258px;" src="/mymedia/{{ item.base.thumb }}"/>
  </div>
   <!-- Dynamiczna galeria -->
	<script type="text/javascript">
    function changeImage(a) {
        document.getElementById("main_image").src=a;
    }
	</script>

 	<div id='eshop_small_gallery'style="text-align:center;width:300px; max-height: 80px;position: relative;margin-top:10px;float:left;margin-left: 15px;">
    <img class="miniaturka" style="width: 80px; max-height: 80px;position:relative;;margin-top:5px;" src="http://placehold.it/130x60" onclick='changeImage("http://placehold.it/130x60");'/>
 	{% for image in item.base.images.all %}
    	    <img class="miniaturka" style="width: 80px; max-height: 80px;position: relative;margin-top:5px;" src="/mymedia/{{ image.image }}"  onclick='changeImage("/mymedia/{{ image.image }}");'/>      
	{% endfor %}
 	</div>
	<!-- Dynamiczna galeria --> 
  </div>
  
  <div id='auction_info_panel'style="height: 353px;">
    <div id='auction_created_by'>
    	<label >Sprzedający:</label> 
      {{ item.created_by }}
    </div>
    <div id='auction_current_price'>
    	<label>Aktualna cena:</label> 
      {{ item.current_price }} zł
    </div>
    <div id='auction_bid_form_wrapper'>
      <form id='bid_form' name='bid_form' action='licytuj/' method='post' accept-charset="utf-8">{% csrf_token %}
        <div id='bid_form_field'>
          <span class='form_error'>{{ bid_form.errors }}</span>
          <label for='id_bid'>Twoja oferta:</label>
          {{ bid_form.bid }}
        </div>
        <p id='bid_input_wrapper'>
          <input value='Licytuj' id='bid_input' type='submit'/>
          <p id='bid_submit_info'>{{ bid_form.info }}</p>
          <p style='padding-top: 30px;weight:300px;height: 60px;'>
          <a href="/aukcje/{{ item.pk }}/historia/" style='color:gray;margin-left: 78px;margin-top: 60px;weight:300px;height: 40px;'>Historia ofert</a>
        </p></p>
        </p>
      </form>
    </div>
  </div>
  <div id='auction_mid_panel'style="position: relative;float:right;margin-top:15px;">
    <!--<div id='auction_mid_bids_subpanel'>-->
      <div id='auction_winner'>
        <div id='auction_winner_label'>
          Wygrywa:
          {% with bid=item.bids.all.0 %}
          {{ bid.user.user.username }}
          {% endwith %}
        </div>

         </div>
      <div id='auction_bid'>
         <div id='auction_bids_count_label'>
          Ilość ofert:{{ item.bids.count }}    
        </div>
       
      </div> 
      <!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style" style='position:relative;float:left;margin-top:10px;
			margin-left:24px;'>
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
			<a class="addthis_counter addthis_pill_style"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-527920254d4d7335"></script>
	<!-- AddThis Button END -->
     
    </div>

    <!--<div id='auction_mid_info_subpanel'>
      <div id='auction_delivery_options'>
       
      </div>
      <div id='auction_query'>
        
      </div>
    </div>-->
<!--  </div>-->
  <div id='auction_description_wrapper'>
    <div id='action_description_label'>
      Opis:
    </div>  
    <div id='auction_description'>
      {{ item.base.description }}
      
    </div>
    
    <div id='compare_properties'>
      Cechy produktu
    </div>  
      <div id='compare_properties_wrapper'>
      	<table class="table" style="width:100%;"> 
                <ul> 
            {% for row in table %} 
            <tr class="user"> 
                {% for value in row %} 
                <td class='first_row'> {{ value }} </td> 
                {% endfor %} 
            </tr> 
            {% endfor %} 
            </ul> 
            </table>
      </div>
    
   </div>
    <div id='auction_gallery'>
      {% for image in item.base.images.all %}
      <div class='auction_gallery_entry'>
        <img style="width: 300px; max-height: 258px;" src="/mymedia/{{ image.image }}"/>      
      </div>
      {% endfor %}
    </div>
 
  <div id='auction_print_page'>
    <a href="get_pdf" style="color:#EAEDE7;">Drukuj stronę</a>
  </div>
</section>
{% endblock %}
