
{% extends "auction_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/auction_list.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/auction_base.css" rel="stylesheet" type="text/css"/>

{% endblock %}


{% block content %}
<div id='auction_list_control_panel'>
  <!-- TODO -->
   <div id='content_container'>

       <!--     <div id='auction_option'>
              <a href="/all/"><div class='auction_option_item'> Wszystkie
              </div></a>
                <a href="/auction/"><div class='auction_option_item'>Aukcje
              </div></a>
               <a href="/buynow/"><div class='auction_option_item'> Kup teraz
              </div></a>
              </div> -->
              <div id='list_content'>
  		          <div id='navigation'>
  		          	Aukcje
                      <!--<div id='page_navigation'>
                        <div id='page' class='nav_element'>Strona:</div>
                        <div id='page_previous' class='nav_element'> </div>
                        <div id='page_number' class='nav_element'><input id='page_input' type="number" min="1" max="50"></div>
                        <div id='page_next' class='nav_element'> </div>
                        <div id='page_all' class='nav_element'> z 50</div>
                      </div> -->
                      </div>
                        <div id="listing_option">
                          <div id='name' class='list_option_item'>Nazwa:</div>
                          <div id='price' class='list_option_item'>Cena:</div>
                          <div id='time' class='list_option_item'>Zakończenie:</div>
                       </div>
                       <section id='auctions_list' >
						  {% for item in items %}
						  <div class='auction_item_entry'>
						    <img style="width: 30px; max-height: 30px;" src='/mymedia/{{ item.base.thumb }}'/>
						    <a href='/aukcje/{{ item.id }}/' class="item_name">{{ item.base.name }}</a>
						    <span class='current_price'>{{ item.current_price }}</span>
						    <span class='time_till_end'>{{ item.planned_close_date }}</span>
						  </div>
						  {% endfor %}
						</section>
             </div>
             </div>
             </div>
{% endblock %}
