{% extends "base2.html" %}

{% block title_suffix %} Dodaj aukcje {% endblock %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/customerpanel_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/registration.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sidebar %}
<aside id="side_menu" class="side_menu_container">
  <div id='side_menu_title'>
    Moje konto
  </div>
  <nav>
      
      <div class='side_menu_item'>
        <a href='/obserwowane/'>Obserwowane produkty</a>
      </div>
      <div class='side_menu_item'>
        <a href='/zamowienia/'>Historia zamówień</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje/dodaj/'>Wystaw aukcję</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje_historia/'>Wystawione aukcje</a>
      </div>

 
  </nav>
</aside>
{% endblock %}

{% block content %}
<div id="auction_form_wrapper" style="margin-top: 50px">
	<div id="list_title">Wystaw aukcje</div>
	<div id="form_list">
  <form id='auction_form' name='auction_form' method='post' accept-charset="utf-8" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class='auction_form_field'>
    <label class='id_username'>Tytuł:</label>
    <span >{{ form.name }}</span>
      <span class='error'>{{ form.name.errors }}</span>    
      
    </div>
    
    <div class='auction_form_field'>
     
      <label class='id_username'>Kategorie:</label>
      <span>{{ form.categories }} </span>
      <span class='error'>{{ form.categories.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label class='id_username' valign="middle">Opis:</label>
     <span>{{ form.description }}</span> 
     <span class='error' style="margin-right: 0px">{{ form.description.errors }}</span>
    </div>
    <div class='auction_form_field'>
     
      <label class='id_username'>Obrazek:</label>
      <span>{{ form.thumb }}</span> 
      <span class='error'>{{ form.thumb.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label class='id_username'>Zdjęcie:</label>
      <span> {{ form.image }}   </span>
      <span class='error'>{{ form.image.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label class='id_username'>Data rozpoczęcia:</label>
      <span>{{ form.start_date }}</span>
      <span class='error'>{{ form.start_date.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label class='id_username'>Data zakończenia:</label>
      <span>{{ form.planned_close_date }}</span>
      <span class='error'>{{ form.planned_close_date.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label class='id_username'>Cena początkowa:</label>
     <span>{{ form.start_price }}</span> 
      <span class='error'>{{ form.start_price.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label class='id_username'>Cena minimalna:</label>
     <span> {{ form.reserve_price }}</span>
      <span class='error'>{{ form.reserve_price.errors }}</span>
    </div>
    <p class='auction_form_field_button'>
       <input value='Dodaj' id='add' type='submit'/>
       <p id='form_submit_info'>{{ form.info }}</p>
    </p>
  </form>
  </div>
</div>
{% endblock %}
