{% extends "backpanel_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/backpanel.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
<div id='eshop_list_control_panel'>
  <!-- TODO -->
  </div>
	<div style="margin-top: 50px">
	<section id='panel_info'>
  

          <!-- <div; id='eshop_option'>
              <a href="/all/"><div class='auction_option_item'> Wszystkie
              </div></a>
                <a href="/auction/"><div class='auction_option_item'>Aukcje
              </div></a>
               <a href="/buynow/"><div class='auction_option_item'> Kup teraz
              </div></a>
          </div> -->
          
            <table width="100%">
		<tr class="header">				 	
       	<td class="header" colspan="2" style="padding-left:15px;">Lista kategorii</td>
       
        	
    	</tr>
    	<tr class="header">
        	<td class="board_name2" style="width: 500px;">Nazwa kategorii</td>
        	<td class="delete">Opcje</td>
        	
   		</tr>
   		{% for item in items %}
   		<tr class="board_name">
        	<td class="board_name">{{ item.name }}</td>     	
        	<td class="buttondelete" style="float:left;margin-left: 80px;"><a href='/manager/kategorie/{{ item.id }}/edytuj/' style="color: #EBEBEB;">Edytuj</a></td>
        	<td class="buttondelete" style="float:right;margin-right: 80px;"><a href='/manager/kategorie/{{ item.id }}/usun/' style="color: #EBEBEB;" onclick="return confirm('Usunąć element?')" >Usuń</a></td>
   		</tr>
   		   {% endfor %}
 
    <tr>
   	<td><a class="buttondelete" style="float:left;" href="/manager/kategorie/nowy/">Nowa kategoria</a>
   	</td>
   	</tr>
      	</table>	
    
            <!--  <div id='list_content'>
                <div id='navigation'>
                      Kategorie, <a class="button" href="/manager/kategorie/nowy/">Nowa kategoria</a>
                      </div>
                        <div id="listing_option">
                            <div id='image' class='list_option_item'></div>
                          <div id='name' class='list_option_item'>Kategorie:</div>
                       </div>
                       <section id='eshop_list' >
                        
                          {% for item in items %}
                          <div class='eshop_item_entry'>
                            <span id='name' class="list_option_item"><a href='/manager/kategorie/{{ item.id }}/edytuj/' class="item_name">{{ item.name }}</a></span>
                            <span id='name' class="list_option_item"><a href='/manager/kategorie/{{ item.id }}/edytuj/' class="item_name">Edytuj</a></span>
                            <span id='name' class="list_option_item"><a href='/manager/kategorie/{{ item.id }}/usun/' class="item_name">Usuń</a></span>
                            <!--<span class='item_name'>{{ item.name }}</span>-->
                        <!--  </div>
                          {% endfor %}
                         
                        </section>
             </div>
             </div>
             </div>
             <div class="clear" style="height: 50px">&nbsp;</div>
             <div class="clear">&nbsp;</div> -->
             </section>
</div>
{% endblock %}