{% extends "backpanel_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/registration.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
<div id='eshop_list_control_panel'>
  <!-- TODO -->
 </div>
  
	<div id="auction_form_wrapper" style="margin-top: 50px; margin-left: 250px">
	<div id="list_title">Nowa oferta grupowa:</div>
	<div id="form_list">
  <form id='form' name='form' method='post' accept-charset="utf-8">
    {% csrf_token %}
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.base.errors }}</span>
      <label for='id_username' class='id_username'>Produkt:</label>
      {{ form.base }}
	</div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.price.errors }}</span>
      <label for='id_username' class='id_username'>Cena:</label>
      {{ form.price }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.min_num_buyers.errors }}</span>
      <label for='id_username' class='id_username'>Min. liczba kupujących:</label>
      {{ form.min_num_buyers }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.availiability_status.errors }}</span>
      <label for='id_username' class='id_username'>Dostępność:</label>
      {{ form.availiability_status }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.current_stock.errors }}</span>
      <label for='id_username' class='id_username'>Ilość sztuk w ofercie:</label>
      {{ form.current_stock }}
    </div>
    <p class='auction_form_field_button'>
       <input value='Zapisz' id='save' type='submit'/>
       <p id='form_submit_info'>{{ form.info }}</p>
    </p>
    </form>
    
    </div>
    </div>
          
       
         

        <!--     <div class="clear" style="height: 50px">&nbsp;</div>
             <div class="clear">&nbsp;</div> -->
{% endblock %}