{% extends "backpanel_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/registration.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
<div id='eshop_list_control_panel'>
  <!-- TODO -->
 </div>
 
	<div id="auction_form_wrapper" style="margin-top: 50px; margin-left: 250px;">
	<div id="list_title">Nowa Metoda wysylki:</div>
	<div id="form_list">
  <form id='form' name='form' method='post' accept-charset="utf-8">
    {% csrf_token %}
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.name.errors }}</span>
      <label for='id_username' class='id_username'>Nazwa:</label>
      {{ form.name }}
	</div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.description.errors }}</span>
      <label for='id_username' class='id_username'>Opis:</label>
      {{ form.description }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.price.errors }}</span>
      <label for='id_username' class='id_username'>Cena:</label>
      {{ form.price }}
    </div>
    <p class='auction_form_field_button'>
       <input value='Zapisz' id='save' type='submit'/>
       <p id='form_submit_info'>{{ form.info }}</p>
    </p>
    </form>
    
    </div>
    </div>
          
            

            <!-- <div class="clear" style="height: 50px">&nbsp;</div>
             <div class="clear">&nbsp;</div> -->
{% endblock %}