{% extends "backpanel_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/registration.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
<div id='eshop_list_control_panel'>
  <!-- TODO -->
 </div>
  
	<div id="auction_form_wrapper" style="margin-top: 50px; margin-left: 250px">
	<div id="list_title">Nowa oferta grupowa:</div>
	<div id="form_list">
  <form id='form' name='form' method='post' accept-charset="utf-8">
    {% csrf_token %}
    
    <div class='auction_form_field'>    
      <label for='id_username' class='id_username'>Produkt:</label>
     <span>{{ form.base }}</span> 
      <span class="error">{{ form.base.errors }}</span>
	</div>
	
    <div class='auction_form_field'>   
      <label for='id_username' class='id_username'>Cena:</label>
     <span>{{ form.price }} </span> 
      <span class='error'>{{ form.price.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label for='id_username' class='id_username'>Min. liczba kupujących:</label>
     <span>{{ form.min_num_buyers }}</span> 
      <span class='error'>{{ form.min_num_buyers.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label for='id_username' class='id_username'>Dostępność:</label>
      <span>{{ form.availiability_status }}</span>
      <span class='error'>{{ form.availiability_status.errors }}</span>
    </div>
    <div class='auction_form_field'>
     
      <label for='id_username' class='id_username'>Ilość sztuk w ofercie:</label>
      <span>{{ form.current_stock }} </span>
      <span class='error'>{{ form.current_stock.errors }}</span>
    </div>
    
    <p class='auction_form_field_button'>
       <input value='Zapisz' id='save' type='submit'/>
       <p id='form_submit_info'>{{ form.info }}</p>
    </p>
    </form>
    
    </div>
    </div>
          
       
         

        <!--     <div class="clear" style="height: 50px">&nbsp;</div>
             <div class="clear">&nbsp;</div> -->
{% endblock %}