{% extends "backpanel_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/backpanel.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
<div id='eshop_list_control_panel'>
  <!-- TODO -->
 </div>
   <div style="margin-top: 50px">
	<section id='panel_info'>
          <!-- <div; id='eshop_option'>
              <a href="/all/"><div class='auction_option_item'> Wszystkie
              </div></a>
                <a href="/auction/"><div class='auction_option_item'>Aukcje
              </div></a>
               <a href="/buynow/"><div class='auction_option_item'> Kup teraz
              </div></a>
          </div> -->
           <table width="100%">
		<tr class="header">				 	
       	<td class="header" style="padding-left:15px;">Lista zamówień </td>
       
        	
    	</tr>
    	<tr class="header">
        	<td class="board_name2">Numer zamówienia</td>  	
     		<td class="board_name2">Cena</td>   	
     		<td class="delete">Usuń</td>
        	
        
   		</tr>
   		{% for item in items %}
   		<tr class="board_name">
        	<td class="board_name">{{ item.pk }}</td>
        	<td class="board_name">{{ item.price }}</td>
        	<td class="buttondelete"><a href='/manager/zamowienia/{{ item.id }}/usun/' style="color: #EBEBEB;">Usuń</a></td>
        	
        	
   		</tr>
   		   {% endfor %}
   	</table>
          
            <!--  <div id='list_content'>
                <div id='navigation'>
                      Zamówienia
                      </div>
                        <div id="listing_option">
                            <div id='image' class='list_option_item'></div>
                          <div id='name' class='list_option_item'>Zamówienia:</div>
                       </div>
                       <section id='eshop_list' >
                        
                          {% for item in items %}
                          <div class='eshop_item_entry'>
                            <span id='name' class="list_option_item">{{ item.pk }}</span> 
                            <span id='name' class="list_option_item"><a href='/manager/zamowienia/{{ item.id }}/usun/' class="item_name">Usuń</a></span>
                            <!--<span class='item_name'>{{ item.name }}</span>-->
                       <!--   </div>
                          {% endfor %}
                         
                        </section>
             </div>
             </div>
             </div>
             <div class="clear" style="height: 50px">&nbsp;</div>
             <div class="clear">&nbsp;</div> -->
             </section>
</div>
{% endblock %}