{% extends "eshop_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/eshop_list.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
<div id='eshop_list_control_panel'>
  <!-- TODO -->
   <div id='content_container'>

          <!-- <div id='eshop_option'>
              <a href="/all/"><div class='auction_option_item'> Wszystkie
              </div></a>
                <a href="/auction/"><div class='auction_option_item'>Aukcje
              </div></a>
               <a href="/buynow/"><div class='auction_option_item'> Kup teraz
              </div></a>
          </div> -->
              <div id='list_content'>
                <div id='navigation'>
                      Produkty
                      </div>
                        <div id="listing_option">
                            <div id='image' class='list_option_item'></div>
                          <div id='name' class='list_option_item'>Nazwa:</div>
                          <div id='price' class='list_option_item'>Cena:</div>
                          <div id='time' class='list_option_item'>Dostępność:</div>
                       </div>
                       <section id='eshop_list' >
                        
                          {% for item in items %}
                          <div class='eshop_item_entry'>
                          <span id='image' class="list_option_item"><img style="width: 30px; max-height: 30px;" src='/mymedia/{{ item.base.thumb }}'/></span>
                            <span id='name' class="list_option_item"><a href='/manager/sklep/{{ item.id }}/edytuj/' class="item_name">{{ item.base.name }}</a></span>
                            <span id='price' class='list_option_item'>{{ item.price }}</span>
                            <span id='time' class='list_option_item'>{{ item.availiability_status.name }}</span>
                            <!--<span class='item_name'>{{ item.name }}</span>-->
                          </div>
                          {% endfor %}
                         
                        </section>
             </div>
             </div>
             </div>
             <div class="clear" style="height: 50px">&nbsp;</div>
             <div class="clear">&nbsp;</div>
{% endblock %}