{% extends "backpanel_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/backpanel.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
<div id='eshop_list_control_panel'>
  <!-- TODO -->
   <div>
<div style="margin-top: 50px">
	<section id='panel_info'>
	
          <!-- <div id='eshop_option'>
              <a href="/all/"><div class='auction_option_item'> Wszystkie
              </div></a>
                <a href="/auction/"><div class='auction_option_item'>Aukcje
              </div></a>
               <a href="/buynow/"><div class='auction_option_item'> Kup teraz
              </div></a>
          </div> -->
          
              <table width="100%">
		<tr class="header">				 	
       	<td class="header" colspan="6" style="padding-left:15px;">Produkty grupowe </td>    	
    	</tr>
    	<tr class="header">
        	<td class="board_name2">Numer Oferty</td>
        	<td class="board_name2">Nazwa</td>       	
        	<td class="board_name2">Cena</td>
        	<td class="board_name2">Min klientów </td>
        	<td class="board_name2">Kupujący</td>
        	<td class="delete" >Opcje</td>
        	
   		</tr>
   		{% for item in items %}
   		<tr class="board_name">
        	<td class="board_name">Numer Oferty</td>
        	<td class="board_name">{{ item.base.name }}</td>
        	<td class="board_name">{{ item.price }} zł</td>
        	<td class="board_name">{{ item.min_num_buyers }}</td>
        	<td class="board_name" style="max-width: 50px;"><a href="/grupowe/{{ item.pk }}/kupujacy/">{{ item.buyers.count }}</a></td>
        	<td style="float:left;margin-left: 20px;"><a class="buttondelete" href='/manager/grupowe/{{ item.id }}/edytuj/' class="item_name">Edytuj</a></td>
        	<td style="float:right;margin-right: 20px;"><a class="buttondelete" href='/manager/grupowe/{{ item.id }}/usun/' class="item_name">Usuń</a></td>
   		</tr>
   		   {% endfor %}
   		   <tr>
   		   	<td><a class="buttondelete" style="float:left;" href="/manager/grupowe/nowy/">Nowa oferta</a> </td>
   		   </tr>
   	</table>
             <!-- <div id='list_content'>
                <div id='navigation'>
                      Oferty Grupowe, <a class="button" href="/manager/grupowe/nowy/">Nowa oferta</a>
                      </div>
                        <div id="listing_option">
                          <div id='image' class='list_option_item'></div>
                          <div id='name' class='list_option_item'>Nazwa:</div>
                          <div id='price' class='list_option_item'>Cena:</div>
                          <div id='time' class='list_option_item'>Kupujący:</div>
                       </div>
                       <section id='eshop_list' >
                          {% for item in items %}
                          <div class='eshop_item_entry'>
                             <span id='image' class="list_option_item"><img style="width: 30px; max-height: 30px;" src='/mymedia/{{ item.base.thumb }}'/></span>
                            <span id='name' class="list_option_item"><a href='/manager/grupowe/{{ item.id }}/edytuj/' class="item_name">{{ item.base.name }}</a></span>
                            <span id='price' class='list_option_item'>{{ item.price }}</span>
                            <span id='time' class='list_option_item'><a href="/grupowe/{{ item.pk }}/kupujacy/">Kupujący</a></span>
                            <span id='name' class="list_option_item"><a href='/manager/grupowe/{{ item.id }}/usun/' class="item_name">Usuń</a></span>
                            <span id='name' class="list_option_item"><a href='/manager/grupowe/{{ item.id }}/edytuj/' class="item_name">Edytuj</a></span>
                            <!--<span class='item_name'>{{ item.name }}</span> -->
                     <!--     </div>
                          {% endfor %}
                        </section>
             </div>
             </div>
             </div>
             <div class="clear" style="height: 50px">&nbsp;</div>
             <div class="clear">&nbsp;</div> -->
             </section>
</div>
{% endblock %}