<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html lang="pl">
	<head>
		<meta charset="utf-8" />
		<title>Ubershop - {% block title_suffix %}{% endblock %}</title>
		<meta name='description' content=''/>
		<meta name='keywords' content=''/>
		{% block head %} {% endblock %}
		<link href="{{ STATIC_PREFIX }}css/base.css" rel="stylesheet"/>
		{% block css %} {% endblock %}
	</head>
	<body>
		<div id='main' class='first'>
			<div id='container'>
			  <div id='logo'><img src="{{ STATIC_PREFIX }}img/logo1.png"/></div>
		       <header id="header">			  
				  <div id='banner'> </div>
				  <div id='cart_small' class="top_button"><a href="/koszyk/">Koszyk</a></div>	  
				  
				{% if user.username %}
        		
        		<div id='logout' class="top_button"><a href="/accounts/logout/">Wyloguj</a></div>
        		{% else %}
        		<div id='register' class="top_button"><a href="/rejestracja/">Rejestracja</a></div>
        		<div id='login' class="top_button"><a href="/accounts/login/">Logowanie</a></div>
        		{% endif %}
				  
				  <div class="empty">&nbsp;</div>
				  <nav>
    				<div id='menubar_top'>
      		          <div class='menu_item_top'>
                        <a href="/home/" }>Home</a>
                      </div>
                      <div class='menu_item_top'>
                        <a href="/aukcje/nowe">Aukcje</a>
                      </div>
                      <div class='menu_item_top'>
                        <a href="/sklep/nowe">Sklep</a>
                      </div>
                      <div class='menu_item_top'>
                        <a href="/grupowe/nowe">Oferty grupowe</a>
                      </div>
                      <div class='menu_item_top'>
                        <a href="/accounts/profile/">Moje konto</a>
                      </div>
                      <div class='menu_item_top'>
                        <a href="/forum/">Forum</a>
                      </div>
       			   </div>
    			 </nav>
				</header>
				<div class='empty'>&nbsp;</div>
				<div id='content'>					
		      <div id='content_container'>
		        {% block content %} 
		        &nbsp;
		        {% endblock %}
		      </div>
				</div>
				<div id='sidebar'>
					<div id='sidebar_container'>
						{% block sidebar %}
						&nbsp;
						{% endblock %}
					</div>
				</div>
				<div class='empty'>&nbsp;</div>
				<nav>
    				<div id='menubar_bottom'>
    				  <div class='menu_item_bottom'>
    				    <a href="/home/">Home</a>
    				  </div>
    				  <div class='menu_item_bottom'>
                        <a href="/aukcje/nowe">Aukcje</a>
                      </div>
                      <div class='menu_item_bottom'>
                        <a href="/sklep/nowe">Sklep</a>
                      </div>
                      <div class='menu_item_bottom'>
                        <a href="/grupowe/nowe">Oferty grupowe</a>
                      </div>
                      <div class='menu_item_bottom'>
                        <a href="/accounts/profile/">Moje konto</a>
                      </div>
                      <div class='menu_item_bottom'>
                        <a href="/forum/">Forum</a>
                      </div>
                      <div class='menu_item_bottom'>
                        <a href="/home/kontakt/">Kontakt</a>
                      </div>
    				</div>
    		    </nav>
				<div class="empty">&nbsp;</div>
				<footer>No Rights Reserved @ Grupa PROjektowa 2012-2013</footer>
				<div class="empty">&nbsp;</div>
				<div id='scripts'>
				  {% block scripts %}
				  {% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>