{% extends "auction_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/bid_history.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/auction_base.css" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}


<div id="list">

	<div id="list_title">Historia ofert dla aukcji numer: {{ auction.pk }}</div>
	<table class="table_form">
		<tr class="user">
			<td>Data</td>
			<td>Użytkownik</td>
			<td>Oferta</td>
		</tr>
    {% for bid in bid_history.all %}
   <tr class="details">
    	<td>{{ bid.date }}</td>
        			<td >{{ bid.user.user.username }}</td>
        			<td>{{ bid.price }} zł</td>    
   	</tr>
    {% endfor %}
   </table>
</div>

{% endblock %}