{% extends "board_base.html" %}

{% block title_suffix %} Forum {% endblock %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/board.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div id="list">
	<div class="breadcrumbs"><a href="/forum/">Strona główna forum</a></div>
		
		<table border="0" cellpadding="4" width="100%">
    		<tr>				 	
       			<td class="header">Dział</td>
        		<td></td>
    		</tr>
			
    		{% for board in boards %}
    			<tr>
        			<td>
        			<div class="board_name"> <a href="{{ board.pk }}">{{ board.name }}</a>
        			</div></td>
        
        			<td>
            		<a class="button" href="{{ board.pk }}">Wyświetl forum</a>
        			</td>
   					</tr>

    		{% endfor %}
    	</table>
    	<div class="new_board"><a href="nowe_forum/">Nowy dział</a></div>
</div>
{% endblock %}