{% extends "base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/auction_add.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sidebar %}
<aside id="side_menu" class="side_menu_container">
  <div id='side_menu_title'>
    Moje konto
  </div>
  <nav>
      
      <div class='side_menu_item'>
        <a href='/obserwowane/'>Obserwowane produkty</a>
      </div>
      <div class='side_menu_item'>
        <a href='/zamowienia/'>Historia zamówień</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje/dodaj/'>Wystaw aukcję</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje_historia/'>Wystawione aukcje</a>
      </div>

 
  </nav>
</aside>
{% endblock %}

{% block content %}

<div id="auction_form_wrapper" style="margin-top: 50px">
	<div id="list_title">Zmiana danych:</div>
	<div id="form_list">
  <form id='registration_form' name='registration_form' method='post' accept-charset="utf-8">
    {% csrf_token %}
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.first_name.errors }}</span>
      <label for='id_username' class='id_username'>Imię:</label>
      {{ form.first_name }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.last_name.errors }}</span>
      <label for='id_username' class='id_username'>Nazwisko:</label>
      {{ form.last_name }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.email.errors }}</span>
      <label for='id_username' class='id_username'>E-mail:</label>
      {{ form.email }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.password.errors }}</span>
      <label for='id_username' class='id_username'>Hasło:</label>
      {{ form.password }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.organisation.errors }}</span>
      <label for='id_username' class='id_username'>Firma:</label>
      {{ form.organisation }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.address.errors }}</span>
      <label for='id_username' class='id_username'>Adres:</label>
      {{ form.address }}
    </div>
    <div class='auction_form_field'>
      <span class='id_username'>{{ form.tax_id.errors }}</span>
      <label for='id_username' class='id_username'>NIP:</label>
      {{ form.tax_id }}
    </div>
    <p class='auction_form_field'>
       <input value='Rejestruj' id='register' type='submit'/>
       <p id='form_submit_info'>{{ form.info }}</p>
    </p>
  </form>
  </div>
</div>
{% endblock %}
