{% extends "base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/customerpanel_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/registration.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sidebar %}
<aside id="side_menu" class="side_menu_container">
  <div id='side_menu_title'>
    Moje konto
  </div>
  <nav>
      
      <div class='side_menu_item'>
        <a href='/obserwowane/'>Obserwowane produkty</a>
      </div>
      <div class='side_menu_item'>
        <a href='/zamowienia/'>Historia zamówień</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje/dodaj/'>Wystaw aukcję</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje_historia/'>Wystawione aukcje</a>
      </div>

 
  </nav>
</aside>
{% endblock %}

{% block content %}

<div id="auction_form_wrapper" style="margin-top: 50px">
	<div id="list_title">Zmiana danych:</div>
	<div id="form_list">
  <form id='registration_form' name='registration_form' method='post' accept-charset="utf-8">
    {% csrf_token %}
    <div class='auction_form_field'>
      
      <label for='id_username' class='id_username'>Imię:</label>
      <span>{{ form.first_name }}</span>
     <span class='error'>{{ form.first_name.errors }}</span>
    </div>
    <div class='auction_form_field'>
     
      <label for='id_username' class='id_username'>Nazwisko:</label>
     <span>{{ form.last_name }}</span> 
      <span class='error'>{{ form.last_name.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label for='id_username' class='id_username'>E-mail:</label>
      <span>
      	{{ form.email }}
      </span>
      <span class='error'>{{ form.email.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label for='id_username' class='id_username'>Hasło:</label>
      <span>{{ form.password }}</span>
      <span class='error'>{{ form.password.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label for='id_username' class='id_username'>Firma:</label>
      <span>{{ form.organisation }}</span>
      <span class='error' style="margin-right: 0px">{{ form.organisation.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label for='id_username' class='id_username'>Adres:</label>
      <span>{{ form.address }}</span>
      <span class='error' style="margin-right: 0px">{{ form.address.errors }}</span>
    </div>
    <div class='auction_form_field'>
      
      <label for='id_username' class='id_username'>NIP:</label>
      <span>{{ form.tax_id }}</span>
      <span class='error'>{{ form.tax_id.errors }}</span>
    </div>
    <p class='auction_form_field_button'>
       <input value='Rejestruj' id='register' type='submit'/>
       <p id='form_submit_info'>{{ form.info }}</p>
    </p>
  </form>
  </div>
</div>
{% endblock %}
