{% extends "eshop_base.html" %}

{% block title_suffix %}
Porównywarka
{% endblock %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/eshop_compare.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<section id='eshop_compare_items_page'>
	<div id='eshop_compare_wrapper'>
    <div id='compare_title'>
      Porównywarka
    </div>  
  	<div class='compare_items'>
    <a href="/sklep/{{ item.id }}"><img src="/mymedia/{{ item.base.thumb }}"/></a>
    <div class="compare_items_name">
    <a href="/sklep/{{ item.id }}">{{ item.name }}</a>
    </div>
      <div id='compare_properties_line'>
      	&nbsp;
      </div>  
      <div id='compare_properties_wrapper'>
        <div id='compare_price_label'>
          Cena:
        </div>
        <div id='compare_price'>
        	{{ item.price }}
        </div> 
        {% for property in properties %}
        <div id='compare_detail1_label'>
          {{property.name}}
        </div>
        <div id='compare_detail1'>
        	{{ property.content }}
        </div> 
        {% endfor %}             
    </div>
   </div>  
  	</div>
</section>