{% extends "eshop_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_list.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
<div id='eshop_list_control_panel'>
  <!-- TODO -->
</div>
<section id='eshop_list'>
  {% for item in products %}
  <div class='eshop_item_entry'>
    <img class='thumb' src='{{ item.thumb }}'/>
    <a href='/sklep/{{ item.id }}/'>{{ item.name }}</a>
    <span class='price'>{{ item.price }}</span>
    <span class='item_name'>{{ item.name }}</span>
  </div>
  {% endfor %}
</section>
{% endblock %}