{% extends "eshop_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/eshopitem_detail.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<section id='eshop_item_page' style="margin-top: 50px">
  <div id='eshop_title'>
    {{ item.base.name }}
  </div>
  <div id='eshop_main_image'>
    <img src="/mymedia/{{ item.base.images.all.0.image }}"/>
  </div>
  <div id='eshop_info_panel'>
    <div id='eshop_availability'>
    	<label >Dostępność:</label>
      {{ item.availability_status.name }}
    </div>
    <div id='eshop_price'>
    	<label >Cena:</label>
      {{ item.price }}
    </div>
    <div id='eshop_cart_form_wrapper'>
      <form id='cart_form' name='cart_form' action="dodaj/" method='post' accept-charset="utf-8">{% csrf_token %}
        <p id='cart_input_wrapper'>
          <input value='Do koszyka' id='cart_input' type='submit'/>
          <p id='cart_submit_info'>{{ cart_form.info }}</p>
        </p>
      </form>
    </div>
  </div>
 <div id='eshop_mid_panel'>
   <!-- <div id='eshop_mid_bids_subpanel'>
      <div id='eshop_score'>
        <div id='eshop_score_label'>
          Ocena:
        </div>
        <div id='eshop_score_value'>
          {{ item.mean_score }}
        </div>
       </div>
       <div id'eshop_score_count'>
         <div id='eshop_score_count_label'>
          Ilość ocen:
        </div>
        <div id='eshop_score_count'>
          {{ item.score_count }}
        </div>   
      </div>
    </div>
    <div id='eshop_mid_info_subpanel'>
      <div id='eshop_shipment_methods'>
        
      </div>
      <div id='eshop_query'>
        
      </div>
    </div>-->
 </div> 
  <div id='eshop_description_wrapper'>
    <div id='action_description_label'>
      Opis:
    </div>  
    <div id='eshop_description'>
      {{ item.description }}
    </div>
   </div>
    <div id='eshop_gallery'>
      {% for image in item.images %}
      <div class='eshop_gallery_entry'>
        <img class='eshop_gallery_image' src="/mymedia/{{ image.image }}"/>      
      </div>
      {% endfor %}
    </div>
  
  <div id='eshop_comments'>
    <div id='eshop_comments_label'>
      Opinie:
    </div>
    <div id='eshop_comments_line'>
      &nbsp;
    </div>
    {% for comment in comments %}
    <div id='eshop_comment_wrapper' class='eshop_comment_wrapper_class'>
      <div id='eshop_comment_user'>
        {{ comment.submitted_by }}
      </div>
      <div id='eshop_comment_date'>
        {{ comment.submission_date }}
      </div>
      <div id='eshop_comment_content'>
        {{ comment.content }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div id='eshop_print_page'>
   <a href="get_pdf">Drukuj stronę</a>
  </div>
</section>
{% endblock %}