{% extends "eshop_base.html" %}

{% block title_suffix %}
Porównywarka
{% endblock %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/eshop_compare.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

<section id='eshop_compare_items_page'>
	<div id='eshop_compare_wrapper'>
    <div id='compare_title'>
      Porównywarka
    </div>  
<div id='compare_properties_img'>
	<table class="table_form_1"> 
        		<ul>
             {% for row in table %}
            <tr class="user">
            	<td >Zdjęcie</td>              
                <td ><img style="width: 300px; min-height: 258px;" src='{{ item1.thumb }}'/></td> 
                <td ><img style="width: 300px; min-height: 258px;" src='{{ item2.thumb }}'/> </td>                          
            </tr>
            <tr class="user"> 
       			<td class='row'>Nazwa</td>
            	<td class='row_1'>{{ item1.base.name }}</td>
            	<td class='row_1'>{{ item2.base.name }}</td>           	
            </tr>
           {% endfor %}
            </ul>
            </table>
      	
      </div> 
      <div id='compare_properties'>
      Cechy produktu
    </div>  
      <div id='compare_properties_wrapper'>     
        	<table class="table_form"> 
        		<ul>
            {% for row in table %}
            <tr class="user">
                {% for value in row %}
                <td class='first_row'> {{ value }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </ul>
            </table>
            
    </div>
   </div>  

</section> 

{% endblock %}
