{% extends "eshop_base.html" %}

{% block title_suffix %}
Porównywarka
{% endblock %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/eshop_compare.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<section id='eshop_compare_items_page'>
	<div id='eshop_compare_wrapper'>
    <div id='compare_title'>
      Porównywarka
    </div>  
  	<div class='compare_items'>
      <div id='compare_properties_line'>
      	&nbsp;
      </div>  
      <div id='compare_properties_wrapper'>
        <ul>
            {% for row in table %}
            <tr>
                {% for value in row %}
                <td> {{ value }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </ul>    
    </div>
   </div>  
  	</div>
</section>
{% endblock %}
