{% extends "base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sidebar %}
<div id="search_form" class="side_menu_container">
  <form name='search_form' action="szukaj/" id='eshop_search_form' method='post' accept-charset="utf-8">
    {% csrf_token %}
    <div id='search_form_field'>
      <span class='form_error'>{{ search_form.errors }}</span>
      <label for='id_search'>Szukaj produktów:</label>
      {{ search_form.phrase }}
    </div>
    <p id='search_input'>
      <input value='Szukaj' id='eshop_search_input' type='submit'/>
      <p id='search_eshop_submit_info'>{{ search_form.info }}</p>
    </p>
  </form>
</div>
<aside id="side_menu" class="side_menu_container">
  <div id='side_menu_title'>
    Kategorie
  </div>
  <nav>
      {% for category in categories %}
      <div class='side_menu_item'>
        <a href='/sklep/{{ category.pk }}/'>{{ category.name }}</a>
      </div>
      {% endfor %}
  </nav>
</aside>
{% endblock %}
