{% extends "eshop_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/bid_history.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
<div id="list">

	<div id="list_title">Lista kupujących dla oferty nr: {{ offer.pk }}</div>
	<table class="table_form">
		<tr class="user">
			<td></td>		
			<td>Użytkownik</td>
		</tr>
		
    {% for item in buyers.all %}
   <tr class="buyers_details">
   	<td></td>
    	<td>{{ item.user.username }}</td>
        			  
   	</tr>
    {% endfor %}
   
   </table>
</div>
{% endblock %}


