{% extends "base.html" %}

{% block title_suffix %} Zaloguj {% endblock %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/login.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div id='login_form_wrapper' style="margin-top: 50px">
  <form id='login_form' name='login_form' action='' method='post' accept-charset="utf-8">
    {% csrf_token %}
    <div class='login_name_field'>
      <span class='form_error'>{{ form.username.errors }}</span>
      <label for='id_username'>Login:</label>
      {{ form.username }}
    </div>
    <div class='login_password_field'>
      <span class='form_error'>{{ form.password.errors }}</span>
      <label for='id_password'>Hasło:</label>
      {{ form.password }}
    </div>
    <p id='login_input_wrapper'>
       <input value='Zaloguj' id='login_input' type='submit'/>
       <p id='login_submit_info'>{{ form.info }}</p>
    </p>
  </form>
</div>
{% endblock %}
