{% extends "board_base.html" %}
{% block title_suffix %} Forum - {{ board.name }} - {{ topic.title }}{% endblock %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/board.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div id="list">
	<div class="breadcrumbs"><a href="/forum/" >Strona główna forum</a>><a href="/forum/{{ board.pk }}">{{ board.name }}</a>>
		<a href="/forum/{{ board.pk }}/{{ topic.pk }}">{{ topic.title }}</a>>Widok pojednynczego posta</div>
		
		<p class="topic_title">{{ topic.title }}</p>
		<table border="0" cellpadding="4" width="100%">
    		<tr class="header">				 	
       			<td width="100">Dodany przez</td>
        		<td></td>
    		</tr>		
    			<tr>
        			<td class="user">
        			{{ message.submitted_by.user.username }}
        			</td>
        			<td class="content">{{ message.content }}</td>    
   				</tr>   		
    	</table>
</div>
{% endblock %}
<div id="list">
Message detail
        <div class="message">{{ message.content }}
            </div>
</div>