{% extends "board_base.html" %}

{% block title_suffix %} Forum - {{ board.name }} - Nowy temat{% endblock %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/board.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div id="list">
	<div class="breadcrumbs"><a href="/forum/">Strona główna forum</a>><a href="/forum/{{ board.pk }}">{{ board.name }}</a>>Nowy temat</div>
		
		<div class="new_topic_form">
		<form method="post">{% csrf_token %}
			{{ topic_form.as_table }}
			<input type="submit" value="zapisz" />
		</form>
    	</div>	
</div>
{% endblock %}


