{% extends "base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/bid_history.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sidebar %}
<aside id="side_menu" class="side_menu_container">
  <div id='side_menu_title'>
    Moje konto
  </div>
  <nav>
      
      <div class='side_menu_item'>
        <a href='/obserwowane/'>Obserwowane produkty</a>
      </div>
      <div class='side_menu_item'>
        <a href='/obserwowane/'>Historia zamówień</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje/dodaj/'>Wystaw aukcję</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje_historia/'>Wystawione aukcje</a>
      </div>
 
  </nav>
</aside>
{% endblock %}

{% block content %}
<div id="list"  style="margin-top: 50px; min-height:300px">
	<div id="list_title">Szczegóły zamówienia nr: {{ order.pk }}</div>
	<table class="table_form">
	<tr class="user"><td>Data zamówienia:</td> <td>{{ order.date }}</td></tr>
	<tr class="user"><td>Przesyłka: </td> <td>{{ order.shipment_method }}</td></tr>
	<tr class="user"><td>Status: </td> <td>{{order.status.name}}</td></tr>
	<tr class="user"><td>Produkty:</td>
	<td>
	<ol>
	{% for item in order.items.all %}
	<li><a href="/sklep/{{ item.id }}">{{ item.item.name }}</a></li>
	{% endfor %}
	</ol></td></tr>
	
	<tr class="user"><td>Pozostałe informacje:</td>
	<td><p style="min-height: 100px;">{{ order.details }}</p></td></tr>
	</table>
</div>
{% endblock %}

	
	
    
   
