{% extends "base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/registration.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sidebar %}
<aside id="side_menu" class="side_menu_container">
  <div id='side_menu_title'>
    Moje konto
  </div>
  <nav>
      
      <div class='side_menu_item'>
        <a href='/obserwowane/'>Obserwowane produkty</a>
      </div>
      <div class='side_menu_item'>
        <a href='/obserwowane/'>Historia zamówień</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje/dodaj/'>Wystaw aukcję</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje_historia/'>Wystawione aukcje</a>
      </div>
 
  </nav>
</aside>
{% endblock %}

{% block content %}
<div id="list"  style="margin-top: 50px; min-height:300px">
	<p>Szczegóły zamówienia nr: {{ order.pk }}</p>
	<p>Data zamówienia: {{ order.date }}</p>
	<p>Przesyłka: {{ order.shipment_method }}</p>
	<p>Status: {{order.status.name}}</p>
	<p>Produkty:</p>
	<ol>
	{% for item in order.items.all %}
	<li><a href="/sklep/{{ item.id }}">{{ item.item.name }}</a></li>
	{% endfor %}
	</ol>
	
	<p>Pozostałe informacje:</p>
	<p>{{ order.details }}</p>
	
</div>
{% endblock %}

	
	
    
   
