{% extends "eshop_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/eshopitem_detail.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

<div id="list" style="margin-top:50px">


    {% for item in cart.items.all %}
        
       <p><a href="/sklep/{{ item.id }}">{{ item.item.name }}</a>, {{ item.item.price }}</p>

    {% endfor %}
<p><a href="/kasa/">Zamawiam</a>  </p>  
</div>

{%endblock%}
