{% extends "eshop_base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/eshop_list.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div id='content_container'>
<div id='list_content'>
              	<div id='navigation'>
                      Koszyk
                      </div>
                        <div id="listing_option">
                          <div id='name' class='list_option_item'>Nazwa:</div>
                          <div id='price' class='list_option_item'>Cena:</div>
                          <div id='time' class='list_option_item'>Usuń:</div>
                       </div>
                       <div id='eshop_list' >
                          <form method="post" action="przelicz/">
                          {% for item, form in data %}
						  <div class='eshop_item_entry'>
						    <img class='thumb' src='{{ item.base.thumb }}'/>
						    {% if item.type == "eshop" %}
						      <a href="/sklep/{{ item.concrete.id }}" class="item_name">{{ item.base.name }}</a>
						    {% endif %}
						    {% if item.type == "group" %}
                              <a href="/grupowe/{{ item.concrete.id }}" class="item_name">{{ item.base.name }}</a>
                            {% endif %}
						    <span class='price'>{{ item.concrete.price }}</span>
						 	<div class='cart_form_field'>
                               <span class='form_error'>{{ form.quantity.errors }}</span>
                               <label for='id_username'>ilość:</label>
                                {{ form.quantity }}
                            </div>
						  </div>
						  {% endfor %}
    						  <div class="submit_wrapper">
                                <input class="button" type="submit" value="Przelicz" />
                              </div>
						  </form>						
						</div>
						
						 
             </div>
             <div id='order'>
						 	<a href="/kasa/">Zamawiam</a>						 	
						</div>
       </div>
<!-- <div id="list" style="margin-top:50px">


    {% for item in cart.items.all %}
        
       <p><a href="/sklep/{{ item.id }}">{{ item.item.name }}</a>, {{ item.item.price }}</p>

    {% endfor %}
<p><a href="/kasa/">Zamawiam</a>  </p>  
</div> -->

{%endblock%}
