{% extends "board_base.html" %}

{% block title_suffix %} Forum - {{ board.name }}{% endblock %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/board.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div id="list">
	<div class="breadcrumbs"><a href="/forum/">Strona główna forum</a>><a href="/forum/{{ board.pk }}">{{ board.name }}</a></div>
		<table border="0" cellpadding="4" width="100%">
    		<tr class="header">				 	
       			<td>Temat</td>
        		<td>Utworzony przez</td>
        		<td>Data</td>
        		<td></td>
    		</tr>
			
    		{% for topic in topics %}
    			<tr class="topic_title">
        			<td class="topic_title"
        			><a href="{{ topic.pk }}">{{ topic.title }}</a>
        			</td>
        			<td class="topic_title">{{ topic.created_by }}</td>
        			<td class="topic_title">{{ topic.date }}</td>
        
        			<td>
        			{% if user.is_staff %}	
        			<a class="button" style="background-color:darkred" href="{{ topic.pk }}/usun/">Usuń temat</a>
        			{% endif %}
            		<a class="button" href="{{ topic.pk }}">Wyświetl temat</a>
        			</td>
   					</tr>

    		{% endfor %}
    	</table>
    	<div class="new_topic"><a href="nowy_temat">Nowy temat</a></div>
    	<div class="pagination">
    		<span class="step-links">
        		{% if topics.has_previous %}
            		<a href="?page={{ topics.previous_page_number }}">poprzednia</a>
        		{% endif %}

        		<span class="current">
            		Strona {{ topics.number }} z {{ topics.paginator.num_pages }}.
        		</span>

        		{% if topics.has_next %}
            		<a href="?page={{ topics.next_page_number }}">następna</a>
        		{% endif %}
    		</span>
		</div>
</div>
{% endblock %}
