{% extends "base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/eshop_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/registration.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sidebar %}
<aside id="side_menu" class="side_menu_container">
  <div id='side_menu_title'>
    Moje konto
  </div>
  <nav>
      
      <div class='side_menu_item'>
        <a href='/obserwowane/'>Obserwowane produkty</a>
      </div>
      <div class='side_menu_item'>
        <a href='/zamowienia/'>Historia zamówień</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje/dodaj/'>Wystaw aukcję</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje_historia/'>Wystawione aukcje</a>
      </div>
 
  </nav>
</aside>
{% endblock %}

{% block content %}

<div id="list" style="margin-top: 50px; min-height: 300px">

	<P>Obserwowane produkty</P>
	<ol>
    {% for item in list %}
        
        <li><a href="/sklep/{{ item.id }}">{{ item.product.base.name }}</a>. Cena: {{ item.product.price }} zł</li>

    {% endfor %}
   </ol>
</div>

{% endblock %}
