{% extends "base.html" %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/customerpanel_base.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/registration.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_PREFIX }}css/bid_history.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sidebar %}
<aside id="side_menu" class="side_menu_container">
  <div id='side_menu_title'>
    Moje konto
  </div>
  <nav>
      
      <div class='side_menu_item'>
        <a href='/obserwowane/'>Obserwowane produkty</a>
      </div>
      <div class='side_menu_item'>
        <a href='/zamowienia/'>Historia zamówień</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje/dodaj/'>Wystaw aukcję</a>
      </div>
      <div class='side_menu_item'>
        <a href='/aukcje_historia/'>Wystawione aukcje</a>
      </div>
 
  </nav>
</aside>
{% endblock %}

{% block content %}

<div id="list" style="margin-top: 50px; min-height: 300px">
<div id="list_title">Obserwowane produkty</div>
	<table class="table_form">
		<tr class="user">
			<td style="padding-left:15px; ">Nazwa</td>
			<td style="padding-left:15px; ">Cena</td>
		</tr>

	<ol>
    {% for item in list %}
         <tr class="details">
    	<td><li><a href="/sklep/{{ item.id }}">{{ item.product.base.name }}</a></li></td>
        			<td style="padding-left:15px;">{{ item.product.price }} zł</td>
        			  
   	</tr>
    {% endfor %}
   </ol>
   </table>
  <div class="pagination">
    	<ul id="pagination-clean">
			{% if items.has_previous %}
		<li class="next"><a href="?page={{ items.previous_page_number }}">«Poprzednia</a></li>
			{% endif %}
		<li class="active">Strona {{ items.number }} </li>
		<li class="active">z {{ items.paginator.num_pages }}</li>

			{% if items.has_next %}
		<li class="next"><a href="?page={{ items.next_page_number }}">Następna »</a></li>
			{% endif %}
			</ul>
		</div>
</div>

{% endblock %}
