.side_menu_container{text-align:center;background-color:#acacac;
width:220px;margin-left:10px;margin-right:10px;border-radius:12px;
box-shadow:4px 4px 10px #666}
#side_menu{position:absolute;top:165px;padding-bottom:5px}
#side_menu_title{width:100%;background-color:#002f32;
position:relative;top:0;height:50px;color:#fff;padding-top:17px;font-size:175%;
border-radius:12px;margin-bottom:5px}

.side_menu_item{text-align:left;padding-left:25px;padding-bottom:3px;font-size:130%}
.side_menu_item a{color:#002f32}
.side_menu_item a:hover{color:#fff}
ul{border:0; margin-left:35%; padding:0;}

#pagination-clean li{
border:0; margin:0; padding:0;
font-size:13px;
list-style:none;
}
#pagination-clean li, 
#pagination-clean a{
border:solid 1px #DEDEDE
margin-right:2px;
}
#pagination-clean 
.previous-off,
#pagination-clean 
.next-off {
color:#888888
display:block;
float:left;
font-weight:bold;
padding:3px 4px;
}
#pagination-clean 
.next a,
#pagination-clean 
.previous a {
font-weight:bold;
border:solid 1px #FFFFFF;
} 
#pagination-clean 
.active{
color:red
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
#pagination-clean a:link,
#pagination-clean a:visited {
color:#0033CC
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
#pagination-clean a:hover{
text-decoration:none;
}